*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*================INICIO================*/
body{
    background: linear-gradient(45deg, #da0505, #000000, #12109e);
    background-size: 300%, 300%;
    color: #fff;
    font-family: 'Silkscreen', cursive;
    animation: colors 15s ease infinite
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.section-1-bg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

aside{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.icon-menu img{
    width: 45px;
    height: 45px;
    margin-right: 15px;
    margin-top: 15px;
}
#barra-menu{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 0px;
    transition: 0.3s all;
}
#barra-menu ul li{
    list-style: none;
    padding: 10px;
}
#barra-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    width: 100%
}
#barra-menu ul li a:hover{
    border: solid 1px #191970;
    padding: 8px;
    border-radius: 15px;
    background: #191970;   
}
.c-icon{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
}
.c-icon span{
    color: #00BFFF;
}
.c-icon span:hover{
    transition: 0.2s;
    transform: 0.5s;
    color: #ffffff;
}
.main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    flex-wrap: wrap;
}
.main-title h1{
    font-family: 'Silkscreen', cursive;
    font-size: 50px;
    color: #fff;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main-title h2{
    font-family: 'Silkscreen', cursive;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main-title h5{
    color: #fff;
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
}
.main-title button{
    width: 15%;
    margin-top: 80px;
    padding: 8px 5px;
    background-color: #fe002d;
    border-radius: 25px;
    color: #fff;
    font-family: 'Silkscreen', cursive;
    cursor: pointer;
    transition-duration: 0.9s;
}
.main-title button:hover{
    border: solid 1px #fff;
    transition: 0.7s;
}
.numeros{
    display: flex;
    margin-top: 35px;
    gap: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.title h3{
    font-family: 'Silkscreen', cursive;
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
}
.title p{
    font-family: 'Silkscreen', cursive;
    font-weight: normal;
}
.title:hover{
    transition: 1.2;
    transform: scale(1.1);
}
@media screen and (max-width: 414px){
    .main-title h1{
        font-size: 40px;
        margin-top: 50%;
        margin-right: 15%;
    }
    .main-title h2{
        font-size: 25px;
        margin-right: 15%;
    }
    .main-title button{
        width: 150px;
    }
}
    